<!doctype html>
<html lang="en">

<head>
  <title>KU Student Shop</title>
  <link rel="stylesheet" href="../public/style.css">
  <!-- Favicon Coming Soon -->
  <link rel="shortcut icon" type="image/ico" href="../public/favicon.ico">
</head>

<body>
  <div class="topnav">
    <a class="active" href="/">Front</a>
    <a class="topButton" href="/signup">Sign Up</a>
    <a class="topButton" href="/login">Login</a>
  </div>

  <div align="center">
    <h1>Welcome to the KU Student Shop!</h1>
    {% if not person %}
    <h1>Please sign in or create an account.</h1>
    {% else %}
    <h1>Welcome back, {{ person }}!</h1>
    {% endif %}
  </div>
</body>

</html>