<!doctype html>
<html lang="en">

<head>
    <title>KU Student Shop | Login</title>
    <link rel="stylesheet" href="../public/style.css">
    <!-- Favicon Coming Soon -->
    <link rel="shortcut icon" type="image/ico" href="../public/favicon.ico">
</head>

<body>
    <div class="topnav">
        <a class="topButton" href="/">Front</a>
        <a class="topButton" href="/signup">Sign Up</a>
        <a class="active" href="/login">Login</a>
    </div>
    <div align="center">
        <h1>Login</h1>
        <!-- Login form would go here -->
    </div>
</body>

</html>